<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://simplewebrtc.com/latest.js"></script> 
s</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <h2> Live Code </h2>
    </nav>

    <div class="container">
        <div class="col-md-6 camera">
            <div class="camera-box">
                <video height="300" id="localVideo"></video>
            </div>
        </div>
    
        <div class="col-md-6 camera">
            <div class="camera-box">
                <div id="remotesVideos"></div>
            </div>
        </div>
    
       
    

    </div>

    <div class="container">
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        <div id="page-content-wrapper">
            <div class="page-content">
                <div class="container">
                    <div class="row">
                            <div id="editor">//Write Your Code Here</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="javascripts/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/main.js"></script>
<script>
console.log('<%= id %>');
var webrtc = new SimpleWebRTC({
    localVideoEl: 'localVideo',
    remoteVideosEl: 'remotesVideos',
    autoRequestMedia: true
});

webrtc.on('readyToCall', function () {
    webrtc.joinRoom('<%= id %>');
});

var socket = io('/<%= id %>');
var changing = false;

socket.on('editorCallback', function(data){
    changing = true;
    editor.setValue(data.newValue);
    editor.clearSelection()
    changing = false;
});

var editor = ace.edit("editor");
editor.setTheme("ace/theme/monokai");
editor.getSession().setMode("ace/mode/javascript");

editor.getSession().on('change', function(e){
    if(!changing){
        var data = {    
            newValue: editor.getValue()
        }
        socket.emit('editorChange', data);
    }
});
$(document).ready(function () {
    var currentmargin = $('#editor').css('margin-top').replace('px','');
    updateMargin(currentmargin);


$(window).resize(function() {
    updateMargin(488.0625 );
});

function updateMargin(currentmargin){
    var width = $(window).width();
    var newmargin = Number(currentmargin)+((1425-width)*.3);
    $('#editor').css('margin-top',newmargin + 'px');
}

});
</script>

</body>
</html>
