<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://simplewebrtc.com/latest.js"></script> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.6/ZeroClipboard.Core.min.js"></script>


    </head>
    <body>
      
        
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <a href="/"><h2> Live Code </h2></a>
    </nav>


    <div class="container-fluid">

        <div class="col-md-1 col-sm-1 camera">
            <div class="row">
                <div class="camera-box">
                    <video  id="localVideo"></video>
                </div>
            </div>
            <div class="row">
                <div class="camera-box">
                    <div id="remotesVideos" ></div>
                </div>
            </div>
            <div class="row">
                    <div id="sidebar-wrapper">
                        <ul class="sidebar-nav">
                            <li>
                                <div class="btn-group">
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    Select Language <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                  </ul>
                                </div>
                            </li>
                            <li>B</li>
                            <li>C</li>
                        </ul>
                    </div>
            </div>
            
        </div>

        <div class="col-md-9 col-md-offset-3 col-sm-7 col-sm-offset-4" id="editor-container">
                <div id="page-content-wrapper">
                    <div class="page-content">
                        <div id="editor">//Write Your Code Here</div> 
                    </div>
                </div>
            </div>
    </div>

</div>


<script src="javascripts/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

<script src="/socket.io/socket.io.js"></script>
<script>

var webrtc = new SimpleWebRTC({
    localVideoEl: 'localVideo',
    remoteVideosEl: 'remotesVideos',
    autoRequestMedia: true
});

webrtc.on('readyToCall', function () {
    webrtc.joinRoom('<%= id %>');
});

var socket = io('/<%= id %>');
var changing = false;

socket.on('editorCallback', function(data){
    changing = true;
    editor.setValue(data.newValue);
    editor.clearSelection()
    changing = false;
});

var editor = ace.edit("editor");
editor.setTheme("ace/theme/monokai");
editor.getSession().setMode("ace/mode/css");

editor.getSession().on('change', function(e){
    if(!changing){
        var data = {    
            newValue: editor.getValue()
        }
        socket.emit('editorChange', data);
    }
});
$(document).ready(function () {
    ZeroClipboard.config({ swfPath: '/images/ZeroClipboard.swf' });
    var client = new ZeroClipboard($('#copy-url'));

    window.history.replaceState('object or string', 'new state', '/chat?id=<%= id %>');
});
</script>

</body>
</html>
