<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://simplewebrtc.com/latest.js"></script> 
    <script src="javascripts/ZeroClipboard.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>

        
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <a href="/"><h2> Live Code </h2></a>
    </nav>


    <div class="container-fluid">

        <div class="col-md-1 col-sm-1 camera">
            <div class="row">
                <div class="camera-box">
                    <video  id="localVideo"></video>
                </div>
            </div>
            <div class="row">
                <div class="camera-box">
                    <div id="remotesVideos" ></div>
                </div>
            </div>
            <div class="row">
                    <div id="sidebar-wrapper">
                        <ul class="sidebar-nav">
                            <li>
                                <div id="sidebar" class="list-group"> 

                                    <a href="#users" class="list-group-item"  id="lang-button" data-parent="#sidebar">
                                        <i class="icon-group"></i> Select Language
                                    </a>

                                    <div id="lang-select" class="list-group subitem collapse">    

                                        <a href="#" id="C" class="list-group-item">
                                            C/C++
                                        </a>
                                        <a href="#" id="CSS" class="list-group-item">
                                            CSS
                                        </a>
                                        <a href="#" id="HTML" class="list-group-item">
                                            HTML
                                        </a>
                                        <a href="#" id="Java" class="list-group-item">
                                            Java
                                        </a>
                                        <a href="#" id="Javascript" class="list-group-item">
                                            Javascript
                                        </a>
                                        <a href="#" id="PHP" class="list-group-item">
                                            PHP
                                        </a>
                                        <a href="#" id="Python" class="list-group-item">
                                            Python
                                        </a>
                                        <a href="#" id="Ruby" class="list-group-item">
                                            Ruby
                                        </a>

                                    </div>  

                                    <a href="#articles" class="list-group-item"  data-parent="#sidebar">
                                        <i class="icon-file-text"></i> Download
                                        
                                    </a>

                                    <a id="copy-button" data-clipboard-text="Copy me!" class="list-group-item"  
                                        data-parent="#sidebar">
                                        <i class="icon-file-text"></i> Copy URL
                                    </a>




                                </div>
                            </li>
                            <li>
                            </li>
                        </ul>
                    </div>
            </div>
            
        </div>

        <div class="col-md-9 col-md-offset-3 col-sm-7 col-sm-offset-4" id="editor-container">
                <div id="page-content-wrapper">
                    <div class="page-content">
                        <div id="editor">//Write Your Code Here</div> 
                    </div>
                </div>
            </div>
    </div>

</div>


<script src="javascripts/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

<script src="/socket.io/socket.io.js"></script>
<script>
var client = new ZeroClipboard( document.getElementById("copy-button") );

client.on("ready", function( readyEvent ) {

    client.on( "aftercopy", function( event ) {
        event.target.style.display = "none";
        alert("Copied text to clipboard: " + event.data["text/plain"]);
    });
});

var webrtc = new SimpleWebRTC({
    localVideoEl: 'localVideo',
    remoteVideosEl: 'remotesVideos',
    autoRequestMedia: true
});

webrtc.on('readyToCall', function () {
    webrtc.joinRoom('<%= id %>');
});

var socket = io('/<%= id %>');
var changing = false;

socket.on('editorCallback', function(data){
    changing = true;
    editor.setValue(data.newValue);
    editor.clearSelection()
    changing = false;
});

var editor = ace.edit("editor");
editor.setTheme("ace/theme/monokai");
editor.getSession().setMode("ace/mode/css");

editor.getSession().on('change', function(e){
    if(!changing){
        var data = {    
            newValue: editor.getValue()
        }
        socket.emit('editorChange', data);
    }
});

$('#lang-select').on('click', 'a', function(event){
    editor.getSession().setMode("ace/mode/"+this.id.toLowerCase());
    $('#lang-button').html('<i class="icon-group"></i>' + this.id);
    $('#lang-select').collapse('hide');
});

$('#sidebar > a').on('click', function (e) {
    e.preventDefault();

    if(!$(this).hasClass("active")){
        var lastActive = $(this).closest("#sidebar").children(".active");
        lastActive.removeClass("active");
        lastActive.next('div').collapse('hide');
        $(this).addClass("active");
        $(this).next('div').collapse('show');
    }

});

$(document).ready(function () {

    window.history.replaceState('object or string', 'new state', '/chat?id=<%= id %>');
    var bodyheight = $('body').css('height').replace('px','');
    var editorheight = $('#editor').css('height').replace('px','');
    $('body').css('height',Number(bodyheight)+Number(editorheight)+'px');
    $('#copy-button').attr('data-clipboard-text', location.href);

    
    window.history.replaceState('object or string', 'new state', '/chat?id=<%= id %>');
});
</script>

</body>
</html>
