<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	

	<script type="text/javascript">
	var webrtc = new SimpleWebRTC({
	  localVideoEl: 'localVideo',
	  remoteVideosEl: 'remotesVideos',
	  autoRequestMedia: true
	});

	webrtc.on('readyToCall', function () {
	  webrtc.joinRoom('<%= id %>');
	});

	</script>
</body>
        <link rel="stylesheet" href="css/bootstrap.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
        </nav>
        <div class="container login">
            <div class="header text-center">
                <h1> Live Code </h1>
            </div>
            <div class="container text-center options">
                <p>
                  <div class="form-group">
                      <input type="text" class="form-control" id="username" placeholder="Username">
                  </div>
                </p>
                <p>
                  <a href="/chat" class="btn btn-primary btn-lg" role="button">Create</a>
                </p>
                 <p id="join-container">
                  <button class="btn btn-primary btn-lg" id="join-private" role="button">Join</button>
                  <div class="input-group hide" id="join-select">
                    <input type="text" class="form-control" id="room-id" placeholder="Enter Room ID">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </p>
                <p>
                  <a href="/list" class="btn btn-primary btn-lg" role="button">Find</a>
                </p>
            </div>
        </div>
     <script>
            $('#join-private').click(function(){
                    $(this).hide();
                    $('#join-select').removeClass('hide');
                    $('#join-select').fadeIn('slow', function(){

                    });
            });
     </script>
    </body>
</html>
