<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Live Code</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
            <div id="fb-root"></div>
        <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

        <nav class="navbar navbar-default" role="navigation">
        </nav>
        <div class="container login">
            
            <div class="container text-center options" id="vertical-align-index">
                <div class="header text-center">
                <h1> Live_Code </h1>
            </div>
                <form action="/chat" id="create-chat">
                <p>
                  <div class="form-group">
                      <input type="text" class="form-control" name="username" placeholder="Username">
                  </div>
                </p>
                <p>
                  <input type="hidden" name="create" value="true">
                  <input type="hidden" name="public" id="room-type">
                  <button class="btn btn-primary btn-lg" id="create-btn">Create</button>
                  <div class="room-type hide">
                    <input type="submit" class="btn btn-primary btn-lg" id="public-btn" value="Public Room">
                    <input type="submit" class="btn btn-primary btn-lg" id="private-btn" value="Private Room">
                </div>
                </p>
                </form>
                 <p id="join-container">
                  <button class="btn btn-primary btn-lg" id="join-private" role="button">Join</button>
                  <div class="input-group hide" id="join-select">
                    <input type="text" class="form-control" id="room-id" placeholder="Enter Room ID">
                        <span class="input-group-btn">
                            <button id="go" class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </p>
                <p>
                  <a href="/list" class="btn btn-primary btn-lg" role="button">Find</a>
                </p>
            </div>
        </div>2
     <script>
            $(document).ready(function () {

                $('#create-btn').click(function(e){
                    e.preventDefault();
                    $(this).fadeOut(function(){
                         $('.room-type').removeClass('hide');
                    });
                })

                $('#public-btn').click(function(){
                    $('#room-type').val('true');
                    $('#create-chat').submit();
                });

                $('#private-btn').click(function(){
                    $('#room-type').val('false');
                    $('#create-chat').submit();
                });

                $('.options').hide().fadeIn(900);

                $('#go').click(function(e){
                    e.preventDefault();
                    var id = $('#room-id').val();
                    window.location = window.location + 'chat?id=' + id;
                });
            });

            $('#join-private').click(function(){
                $(this).fadeOut(function(){
                    $('#join-select').removeClass('hide');
                });
                
            });
     </script>
    </body>
</html>