
.navbar > *{
  color: #fff;
  padding:1%;
}

/* Cameras */
.camera{
	padding:5px;
}

.camera-box{
	height:320px;
  width:500px;
	padding:5px;
	margin:auto 20px auto 30px;
  border-bottom: #333 10px solid;
  border-right: #333 10px solid;
	background-color: rgba(170,170,170,0.2);
}

/* login page */
.header h1{
  font-size: 50px;
}

.login{
  display: inline;
}

.options input{
  width:20%;
  margin:auto;
  text-align:center;
}

.options{
  padding:1%;
}

.options .btn{
  width:20%;
}



/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

.options .btn, .options input{
  width:50%;
}

}

/* code and sidebar */
#wrapper {
  padding-top:3%;
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #2C3E50;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

  #editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin:auto;
        width: 50%;
        height:75%;
        margin-top: 34.25%;
        overflow: scroll;
    }

@media (max-width:1300px){
    #editor{
      margin-top:37.25%;
    }
}

@media (max-width:1200px){
    #editor{
      margin-top:39.55%;
    }
}


@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}

